test:  
  variables:
    GIT_STRATEGY: clone
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: "true"
    GIT_SUBMODULE_STRATEGY: recursive
  image: xilinx:2024.1
  tags:
    - xilinx
  script:
    - source ~/.profile
    - env
    - cd $IP_PATH/sim && pytest -s -v  --log-level=INFO && cd ..
  artifacts:
    when: always
    paths:
      - $IP_PATH/sim/sim_build/*.None 
    reports:
      junit: $IP_PATH/sim/sim_build/*.None

